* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    cursor: pointer;
}

ul li {
    list-style: none;
}

h1,
h2,
h3 {
    font-family: Itim;
    font-weight: 400;
    font-style: Regular;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;

}

h1 {
    margin-bottom: 10px;
}

h2 {
    font-size: 48px;
    margin-bottom: 40px;
}

h3 {
    font-size: 40px;
    margin: 20px 0;
}

h4 {
    font-size: 36px;
}

/*HEADER*/
header {
    background-color: #2C932E;
    display: flex;
    height: 107px;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
    border-bottom: 1px solid #00000063;
    box-shadow: 0px 4px 4px 0px #00000040;

}

header .logo {
    background-image: url(./img/logo.png);
    width: 110px;
    height: 51px;
}

header .logo::after {
    content: "";
    width: 110px;
    height: 3px;
    background-color: #ebebeb;
    display: block;
    position: absolute;
    top: 106px;
    box-shadow: 0px 4px 4px 0px #adadad40;
}

header nav ul li {
    display: inline;
    margin-left: 68px;
    font-family: "Itim", cursive;
    font-size: 32px;
}

span.menuIcon {
    display: none;
}

header nav ul li a {
    color: #FFE016;
}

header nav ul li:hover {
    -webkit-text-stroke: 1px black;
}

main {
    padding: 67px 150px;
}

/*SECTION BANANA*/
section.banana {
    display: flex;
    justify-content: space-between;
}

section.banana .bananaText {
    max-width: 505px;
}

.bananaText p {
    margin: 15px 0;
}

section.banana .bananaImg {
    background-image: url(./img/Banana.png);
    cursor: pointer;
    background-position: center;
    background-size: cover;
    width: 505px;
    height: 388px;
    transition: ease 1s;
}

section.banana .bananaImg:hover,
.fruitSingle:hover {
    transform: scale(1.05);

}

section.anotherFruits {
    padding: 38px 0;
}

.threeFruits {
    display: flex;
    justify-content: space-between;
}

.fruitSingle {
    width: 32.5%;
    transition: ease 0.4s;
}

.fruitSingle p {
    font-family: Inria Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    padding: 17px 0;

}

.fruitSingle img {
    width: 100%;
    height: 50%;
}

/*FOOTER*/
footer {
    background-color: #FFE016;
    text-align: center;
    padding: 53px;
    font-family: Inria Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;

}


/*1024PX*/

@media screen and (max-width:1024px) {
    main {
        padding: 67px 80px;
    }

    section.banana .bananaImg {
        width: 100%;
        margin-left: 10px;
    }
}

/*768px*/

@media screen and (max-width:768px) {
    header {
        padding: 0 40px;
        justify-content: left;
    }

    main {
        padding: 30px 40px;
    }


    /*ICONE MENU MOBILE*/
    span.menuIcon {
        display: block;
        margin-left: auto;
    }

    header nav ul {
        opacity: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        position: absolute;
        left: 0;
        top: 100px;
        z-index: 1;
        background-color: #2C932E;
        transition: 0.3s ease;
        border-bottom: 1px solid #00000063;
        box-shadow: 0px 4px 4px 0px #00000040;
        pointer-events: none
    }

    header nav ul li {
        margin: 5px 0;

    }

    /*FIM DO MENU MOBILE*/

    section.banana {
        flex-direction: column;
    }

    section.banana .bananaText {
        max-width: none;
    }

    section.banana .bananaImg {
        margin-left: 0;
    }

    .threeFruits {
        flex-direction: column;
    }

    .fruitSingle {
        width: 100%;
    }

    .fruitSingle h4 {
        margin-top: 20px;
    }
}

/*425px*/

@media screen and (max-width:425px) {
    header {
        padding: 0 30px;
    }

    main {
        padding: 0 30px;
    }
}